@import url("../../css/main.css");
p,
h3 {
  padding: 0;
  margin: 0;
}
.view_detail_container {
  padding: 20px 150px;
  margin-top: 60px;
}
.view_detail-image-product {
  width: 100px;
}

.view_detail-infors-product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
.view_detail-price-product {
  font-size: 14px;
}

.btn-back-to-bills {
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
}
